@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "./mixing";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;

}

$color-ffffff: #ffffff;
$color-008089: #146EB4;
$color-1E2640: #1E2640;
$color-D9D9D9: #D9D9D9;

/*start here color theme*/
.text-color-ffffff{
    color: $color-ffffff;
}

.text-color-008089{
    color: $color-008089;
}

.text-color-1E2640{
    color: $color-1E2640;
}

.text-color-D9D9D9{
    color: $color-D9D9D9;
}

.bg-color-ffffff{
    background-color: $color-ffffff;
}

.bg-color-008089{
    background-color: $color-008089;
}

.bg-color-1E2640{
    background-color: $color-1E2640;
}

.bg-color-D9D9D9{
    background-color: $color-D9D9D9;
}
/*end here color theme*/

/*Start here position css*/
.positionRelative{
    position: relative;
}
/*End here position css*/


/*Start here display Css*/
.dFlex{
    display:  flex;
}
/*End here display Css*/
/*Start here padding css*/
.py16{
 padding-top: 16px;
 padding-bottom: 16px;
}
.px10{
padding-left: 10px;
padding-right: 10px;
}
/*end here padding css*/

/*Start here width css*/
.w100{
    width: 100%;
}
/*End here width css*/

/*start here container css*/
.container{
    padding: 12px 32px;
}
/*end here container css*/

